.mat-form-field-infix{
    border: 1px solid black;
}

.container {
    text-align: center;
    padding: 15px 0;
}

.login-btn {
    background-color: #50a1f2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    width: 200px;
    line-height: 5px;
    border-radius: 23px;
}